div {

    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 3px solid rgb(249, 8, 8);
    padding: 7px;
    border-radius: 30px;
    float: left;
    font-size: 38px;
    text-align: center;
    font-family: helvetica;
    margin-right: 4px;
    margin-top: 16px;
    color: rgb(0, 0, 0);
    background-color: burlywood;
}